<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        新規登録画面
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <div class="field">
            <%= f.label :username %><br />
            <p class="control has-icons-left">
              <%= f.text_field :username, autofocus: true, autocomplete: "username", :placeholder => "username", class: input_class(resource, :username) %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>

            <p class="help is-danger">
              <%= resource.errors.full_messages_for(:username).first || "&nbsp;".html_safe %>
            </p>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <p class="control has-icons-left">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: input_class(resource, :email) %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
            
            <p class="help is-danger">
              <%= resource.errors.full_messages_for(:email).first || "&nbsp;".html_safe %>
            </p>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <p class="control has-icons-left">
              <%= f.password_field :password, autocomplete: "new-password", :placeholder => "password", class: input_class(resource, :password) %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>

            <p class="help is-danger">
              <%= resource.errors.full_messages_for(:password).first || "&nbsp;".html_safe %>
            </p>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <p class="control has-icons-left">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "password confirmation", class: input_class(resource, :password) %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>

            <p class="help is-danger">
              <%= resource.errors.full_messages_for(:password_confirmation).first || "&nbsp;".html_safe %>
            </p>
          </div>

          <div class="actions">
            <%= f.submit "登録" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>
