<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        レシピ一覧
      </h1>
    </div>
  </div>
</section>

<% if params[:keyword].present? %>
  <h2 class="title is-4">
    「<%= params[:keyword] %>」の検索結果
  </h2>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @recipes.each do |recipe| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to recipe_path(recipe) do %>
                  <%= image_tag url_for(recipe.image) %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= link_to user_path(recipe.user) do %>
                      <% if recipe.user.image.attached? %>
                        <%= image_tag recipe.user.image, class: "avatar" %>
                      <% else %>
                        <%= image_tag "no-image.png", class: "avatar" %>
                      <% end %>
                    <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%= link_to recipe.user.username, user_path(recipe.user) %></div>
                </div>
              </div>
              
              <div class="content is-flex is-align-items-center is-justify-content-space-between">
                <div>
                  <time><%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
                </div>
                <div>
                  コメント数：<%= recipe.comments.count %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>