<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        レシピ一覧
      </h1>
    </div>
  </div>
</section>

<% if params[:keyword].present? %>
  <h2 class="title is-4">
    「<%= params[:keyword] %>」の検索結果
  </h2>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @recipes.each do |recipe| %>
        <div class="column is-4">
          <div class="card recipe-card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to recipe_path(recipe) do %>
                  <%= image_tag url_for(recipe.image) %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <!-- レシピ名 -->
              <p class="title is-4 mb-2">
                <%= recipe.title %>
              </p>

              <!-- 本文 -->
              <div class="content mb-4">
                <p class="recipe-body">
                  <%= recipe.body %>
                </p>
              </div>

              <div class="user-info-column recipe-card-footer">
                <div class="has-text-right">
                  <div class="user-info-column">
                    <%= link_to user_path(recipe.user) do %>
                      <% if recipe.user.image.attached? %>
                        <%= image_tag recipe.user.image, class: "avatar-small" %>
                      <% else %>
                        <%= image_tag "no-image.png", class: "avatar-small" %>
                      <% end %>
                      <span><%= recipe.user.username %></span>
                    <% end %>
                
                    <div class="is-size-7 has-text-grey">
                      <%= l(recipe.updated_at, format: :short) %>更新
                    </div>
                    
                    <div class="is-size-7 has-text-grey">
                      コメント数：<%= recipe.comments_count %>
                    </div>
                    <br>
                    <div>
                      <%= render "favorite", recipe: recipe %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>