<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        新規レシピ作成
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_for @recipe, html: { multipart: true }, data: { turbo: false } do |f| %>
          <div class="field">
            <%= f.label :title,"レシピ名", class: "label" %>
            <%= f.text_field :title, class: "input #{@recipe.errors[:title].any? ? 'is-danger' : ''}" %>

            <% if @recipe.errors[:title].any? %>
              <% @recipe.errors.full_messages_for(:title).each do |message| %>
                <p class="help is-danger"><%= message %></p>
              <% end %>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :body, "作り方", class: "label" %>
            <%= f.text_area :body, class: "textarea #{@recipe.errors[:body].any? ? 'is-danger' : ''}" %>

            <% if @recipe.errors[:body].any? %>
              <% @recipe.errors.full_messages_for(:body).each do |message| %>
                <p class="help is-danger"><%= message %></p>
              <% end %>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :image, "写真", class: "label" %>
            <%= f.file_field :image, class: "input #{@recipe.errors[:image].any? ? 'is-danger' : ''}" %>

            <% if @recipe.errors[:image].any? %>
              <% @recipe.errors.full_messages_for(:image).each do |message| %>
                <p class="help is-danger"><%= message %></p>
              <% end %>
            <% end %>
          </div>

          <%= f.submit "投稿", class: "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>  