<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        レシピ詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= image_tag url_for(@recipe.image), class: "recipe_image" %>
            </figure>
          </div>
          <div class="card-content">
            <%= render "favorite", recipe: @recipe %>

            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @recipe.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>レシピ</th>
                </tr>
                <tr>
                  <td><%= simple_format @recipe.body %></td>
                </tr>
              </table>
              <% if user_signed_in? && @recipe.user.id == current_user.id %>
                <%= link_to "編集", edit_recipe_path(@recipe), class: "button is-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <article class="panel is-link">
          <%= link_to user_path(@recipe.user), class: "panel-block" do %>
            <% if @recipe.user.image.attached? %>
              <%= image_tag @recipe.user.image, class: "avatar-small mr-2" %>
            <% else %>
              <%= image_tag "no-image.png", class: "avatar-small mr-2" %>
            <% end %>
            <span><%= @recipe.user.username %></span>
          <% end %>
          <div class="panel-block">
            <p class="control">
              <%= @recipe.user.profile %>
            </p>
          </div>
        </article>
        
        <div data-controller="tab">
          <%= render "tabs" %>

          <div id="comments" data-tab-target="content">
            <%= render "comments_section", comments: @comments, recipe: @recipe %>
          </div>
          
          <div id="memo" data-tab-target="content" class="is-hidden" >
            <%= render "memo_section", memo: @memo, recipe: @recipe %>
          </div
        </div>
      </div>
    </div>
  </div>
</section>
        