<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        マイページ
      </h1>
    </div>
  </div>
</section>

<%= render "layouts/search_form", url: user_path(@user), button_label: "このユーザーのレシピを検索" %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="columns is-centered">
          <div class="column is-4">
            <figure class="image is-128x128"  style="margin-left: auto; margin-right: auto;">
              <% if @user.image.attached? %>
                <%= image_tag @user.image, class: "avatar" %>
              <% else %>
                <%= image_tag "no-image.png", class: "avatar" %>
              <% end %>
            </figure>
          </div>
          <div class="column is-8">
            <table class="table is-fullwidth">
              <tr>
                <td class="is-size-4">
                  <strong><%= @user.username %></strong>
                </td>
                <% if @user.id == current_user.id %>
                  <td class="is-size-4">
                  <%= @user.email %>
                  </td>
                  <td>
                    <%= link_to "編集", edit_user_path(@user), class: "button is-primary" %>
                  </td>
                  <td>
                    <%= link_to "削除", user_path(@user), data: {turbo_method: :delete, turbo_confirm: "削除しますか？"}, class: "button is-primary" %>
                  </td>
                  <td>
                    <div data-controller="modal">
                      <button class="button is-light"
                              data-action="click->modal#open">
                        ❤️ お気に入り一覧
                      </button>

                      <!-- モーダル -->
                      <div class="modal"
                          data-modal-target="window"
                          data-action="click->modal#backgroundClose keydown@window->modal#escClose">

                        <div class="modal-background"></div>

                        <div class="modal-content box">
                          <!-- ×ボタン -->
                          <button class="delete"
                                  data-action="click->modal#close"></button>
                          <%= render "favorite_index", favorite_recipes: @favorite_recipes %>
                        </div>
                      </div>
                    </div>
                  </td>
                <% end %>
              </tr>
            </table>

            <% unless current_user == @user %>
              <% if current_user.following?(@user) %>
                <%= button_to "フォロー解除",
                      unfollow_user_path(@user),
                      method: :delete,
                      class: "button is-light" %>
              <% else %>
                <%= button_to "フォローする",
                      follow_user_path(@user),
                      method: :post,
                      class: "button is-primary" %>
              <% end %>
            <% end %>

            <div class="follow-stats">
              <%= link_to following_user_path(@user), class: "follow-item" do %>
                <span class="count"><%= @user.following_count %></span>
                <span class="label">フォロー中</span>
              <% end %>

              <%= link_to followers_user_path(@user), class: "follow-item" do %>
                <span class="count"><%= @user.followers_count %></span>
                <span class="label">フォロワー</span>
              <% end %>
            </div>

            <table class="table is-fullwidth">
              <tr>
                <td>
                  <%= @user.profile %>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="buttons">
  <%= link_to "更新日順", 
  user_path(@user, sort: "new"), 
  data: { turbo_frame: "recipes_list" },
  class: "button is-light" %>
  
  <%= link_to "古い順", 
  user_path(@user, sort: "old"), 
  data: { turbo_frame: "recipes_list" },
  class: "button is-light" %>
  
  <%= link_to "ハート順",
   user_path(@user, sort: "favorites"), 
   data: { turbo_frame: "recipes_list" },
   class: "button is-light" %>
</div>

<section class="section">
  <div class="container">
    <%= turbo_frame_tag "recipes_list" do %>
      <div class="columns is-multiline">
        <% @recipes.each do |recipe| %>
          <div class="column is-4">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3 recipe-image-wrapper">
                  <%= link_to recipe_path(recipe), data: { turbo_frame: "_top" } do %>
                    <%= image_tag recipe.image %>

                    <% if recipe.draft? %>
                      <div class="draft-label">
                        下書き
                      </div>
                    <% end %>
                  <% end %>
                </figure>
              </div>

              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <%= link_to recipe_path(recipe), data: { turbo_frame: "_top" }, class: "panel-block" do %>
                      <p class="title is-4 mb-2">
                        <%= recipe.title %>
                      </p>
                    <% end %>
                    <div class="content mb-4">
                      <p class="recipe-body">
                        <%= recipe.body %>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="content">
                  <time><%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
                </div>

                <div class="is-flex is-justify-content-space-between is-align-items-center">
                  <div class="favorite-area">
                    ❤️<%= recipe.favorites_count %>
                  </div>

                  <% if @user == current_user %>
                    <div class="buttons are-small">
                      <%= link_to edit_recipe_path(recipe), class: "button is-light" do %>
                        <span class="icon">
                          <i class="fas fa-edit"></i>
                        </span>
                      <% end %>
                    
                      <%= link_to recipe_path(recipe), data: {turbo_method: :delete, turbo_confirm: "削除しますか？"}, class: "button is-light" do %>
                        <span class="icon">
                          <i class="fas fa-trash"></i>
                        </span>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
