<h2>パスワードをお忘れですか？</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: input_class(resource, :email) %>
   
    <p class="help is-danger">
      <%= resource.errors.full_messages_for(:email).first || "&nbsp;".html_safe %>
    </p>
  </div>

  <div class="actions">
    <%= f.submit "パスワードリセットの手順を送信する" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
