<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ログイン画面
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: "label" %>
            <p class="control has-icons-left">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: input_class(resource, :email) %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>

            <p class="help is-danger">
              <%= resource.errors.full_messages_for(:email).first || "&nbsp;".html_safe %>
            </p>
          </div>

          <div class="field">
            <%= f.label :password, class: "label" %>

            <p class="control has-icons-left has-icons-right" data-controller="pw">
              <%= f.password_field :password, 
                    autocomplete: "current-password", 
                    placeholder: "password", 
                    class: input_class(resource, :password),
                    data: { pw_target: "input" } %>

              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>

              <button type="button"
                class="icon is-small is-right password-toggle"
                data-action="click->pw#toggle"
                data-pw-target="icon"
                aria-label="パスワードを表示">
                <i class="fas fa-eye"></i>
              </button>
            </p>

            <p class="help is-danger">
              <%= resource.errors.full_messages_for(:password).first || "&nbsp;".html_safe %>
            </p>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "ログイン状態を保持する" %>
            </div>
          <% end %>

          <div class="actions mt-5">
            <%= f.submit "ログイン", class: "button is-primary is-fullwidth" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</section>
